* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
/* 
body{
  padding-top: 120px;
} */

html {
  scroll-behavior: smooth;
}

.section[id] {
  scroll-margin-top: 140px;
}


.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

h1{
  padding: 20px 0px 0px 0px;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
  color: #444;
}

img {
  width: 100%;
  border-radius: 12px;
  display: block;
}

.navbar {
  width: 100%;
  background: #e7f4ff;
  border-bottom: 1px solid #d1e8fa;
  position: fixed;  
  top: 0;
  left: 0;
  z-index: 9999;
  /* padding: 10px 0;  thêm dòng này */
  transition: 0.3s ease;
}


/* NAV CONTENT WRAPPER */
.nav-content {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ========== LOGO ========== */
.logo img {
  height: 100px;
  width: auto;
  object-fit: contain;
  display: block;
}

/* ========== NAV RIGHT (MENU + BUTTON) ========== */
.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* ========== NAV LINKS ========== */
.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #127dd3;
}

/* ========== BUTTONS ========== */
.nav-btn {
  display: flex;
  gap: 10px;
}

.btn-primary {
  background: #127dd3;
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.25s ease;
}

.btn-primary:hover {
  background: #0b68b3;
}

/* HERO */
.hero {
  text-align: left;
}

.hero p {
  margin-bottom: 20px;
}

.hero-img {
  margin-top: 40px;
  width: 100%;
  height: auto;
  max-height: 350px;
  border-radius: 12px;
  object-fit: cover;
}

/* SECTIONS */
.section {
  padding: 50px 0;

  /* hiệu ứng slide-in */
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.section.show {
  opacity: 1;
  transform: translateY(0);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}

.card img {
  height: 70%;
  margin-bottom: 10%;
}

.card p {
  font-size: 14px;
}

.btn-secondary {
  background: #171717;
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.25s ease;
}

.btn-secondary:hover {
  background-color: #0b68b3;
}

/* TESTIMONIAL */
.testimonial-wrapper {
  display: flex;
  gap: 20px;
}

.testimonial {
  background: #f7f7f7;
  padding: 20px;
  border-radius: 12px;
  flex: 1;
}

/* FOOTER */
.footer {
  background: #f5f5f5;
  padding: 40px 0;
  margin-top: 40px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}

.footer-grid h4 {
  margin-bottom: 10px;
}
